<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.isdaouda.isenginedemo">

  	<!--uncomment this line if you want to use this permission-->
    <!--uses-permission android:name="android.permission.DISABLE_KEYGUARD"/-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
	
    <application
		android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:isGame="true"
		android:hasCode="true"
		android:icon="@drawable/icon"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity android:name="android.app.NativeActivity"
                  android:label="@string/app_name"
                  android:icon="@drawable/icon"
				  android:configChanges="keyboardHidden"
				  android:screenOrientation="sensorLandscape">
				  
            <meta-data android:name="android.app.lib_name" android:value="sfml-activity" /><!-- Never change this! -->
            <meta-data android:name="sfml.app.lib_name" android:value="isenginedemo" /> <!-- This has to match the moduleName in build.gradle -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>